//
// Header
// --------------------------------------------------

.logo{
  display: block;
  text-align: center;
}

.banner{
  padding: 20px 15px;
  text-align: center;
  position: relative;

  & h4{

  }

}
