//
// Button
// --------------------------------------------------

.btn{
  display: block;
  position: relative;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  white-space: nowrap;
  font-size: 18px;
  line-height: 24px;
  padding: 13px;
  font-weight: bold;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.btn--blue{
  background: $blue-base;
  color: $white-base;
  border-radius: 5px;
  max-width: 223px;
  width: 100%;
  margin: 20px auto 40px;
}

i.fa.fa-chevron-right{
  margin-left: 5px;
}
