//
// Index
// --------------------------------------------------

#leader-section,
#survey-section,
#winner-section{
  text-align: center;
}

#survey-section{
  border-bottom: 1px solid #e6e6e6;
}

article.content{
  padding: 0 15px;
}

article.content--winners{
  margin: 40px 0;
}
